.navbarAdmin {
    padding: 10px 0;
    border-bottom: 1px solid rgb(25, 25, 112);
}

.NavTitle {
    color: rgb(25, 25, 112);
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px 0; 
    margin: 0 0 10px 0; 
    text-align: center;
}

.NavTitle:hover {
    color: rgb(20, 20, 85);
    transition: color 0.3s ease;
}

.navbarAdmin ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.navLink {
    text-decoration: none;
    color: rgb(253, 253, 253);
    font-size: 18px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

.navLink:hover {
    background-color: rgba(48, 71, 185, 0.1);
    border-radius: 10px;
    color: rgb(255, 255, 255);
}
