
.navbarCustomer{
    background-color: rgb(245, 246, 246);
    padding: 5px 0px;
    border-bottom: 1px solid rgba(93, 58, 58, 0.318);
}
.NavTitle{
    display: flex;
    justify-content: space-evenly; 
    color: rgb(109, 40, 40);  
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10px;
}
.NavTitle:hover{
    color: rgb(56, 52, 52);
    transition: 3s ease;
}
.navbarCustomer ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;    
}
.navLink{
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 10px 50px;
}
.navLink:hover{
    background-color: rgb(189, 191, 191);
    padding: 10px 50px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
}
