.card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px; 
    margin: 16px;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    text-align: center;
    flex: 1 1 calc(20% - 32px); 
    min-width: 200px; 
    min-height: 300px; 
}

.card:hover {
    transform: translateY(-5px);
}

.prodTitle {
    font-size: 20px;
    margin-bottom: 10px; 
}

.card h2 {
    margin: 20px 0; 
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    font-weight: 100;
    color: #333;
}

.card .product-details {
    margin: 10px 0; 
}

.product-details p {
    margin: 5px 0; 
}
