
.homeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.homeCard {
    background: rgb(25, 25, 112);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    max-width: 700px;
}

.homeCard:hover {
    transform: translateY(-5px);
}


.homeTitle {
    background: rgb(25, 25, 112);
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 10px;
}

.homeDesc {
    background: rgb(25, 25, 112);
    color: white;
    font-size: 18px;
    font-weight: 300;
    opacity: 0.9;
}
